.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

:root {
    /* neutral */
    --almost-white: hsl(0, 0%, 98%);
    --medium-grey: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}

body {
    font-family: "Epilogue", sans-serif;
    /* 500,700 */
}